/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: linear-gradient(to right, #1e90ff, #1c75d8);
}

.navbar-brand {
  font-weight: bold;
  font-size: 18px;
  color: white !important;
}

.nav-link {
  color: white !important;
  font-size: 16px;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #f8f9fa !important;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  background: url("../assets/WhatsApp\ Image\ 2025-06-04\ at\ 10.41.58\ PM.jpeg")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.hero-content {
  background-color: rgba(90, 90, 90, 0.575);
  border-radius: 20px;
  padding: 10px 10px 30px 10px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

.btn {
  background-color: #1e6fd9;
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #155fb1;
}

/* Tablas */

.container {
  margin: 40px auto;
  width: 80%;
  max-width: 900px;
}

h2 {
  text-align: center;
  color: #2c3e50;
}

thead {
  background-color: #f2f2f2;
}

th {
  color: #2c3e50;
}
